header{
    width: 100%;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;


    /* background-color: white;
    position: sticky;
    top: 0;
    z-index: 999; */

    font-family: monospace;
    font-weight: 400;
    font-size: 22px;

    transition: border-bottom 0.3s ease; 
}

/* .scrolling {
  border-bottom: 1px solid #45494E; 
} */
.header_menu{
    width: 1650px;
    margin: 0 auto;
    display: grid;
    grid-template: 1fr / 200px 80px 3fr 70px 1fr 70px 1fr;
}
.main_menu{
    display: flex;
    grid-column-start: 3;
    justify-content: space-around;
    align-items: center;
}

#logo{
    width: 200px;
    height: 90px;
    background-image: url(/images/logo.png);
    background-size: cover;
    cursor: pointer;
}
#logo:hover{
    transform: scale(1.1)
}
.tel_header{
    height: 80px;
    align-items: center;    
    grid-column-start: 5;
    display: flex;
}
#iconTel{
    width: 30px;
    height: 30px;
    background-image: url(/images/tel.png);
    background-size: cover;

    cursor: pointer;
}
.tel{
    margin-left: 10px;
    
    text-decoration: underline;
    color: #45494E;
}
.tel:hover{
    text-decoration-color: #FFA8AD;
    transition: 0.4s ease;
}


.main_menuLink{
    letter-spacing: 1px;
    position: relative;
    padding: 5px;
    text-decoration: none;
    height: 32px;
    border-radius: 20px;
    color: #45494E;
}
.main_menu .main_menuLink::before{
    content: '';
    bottom: 5px;
    right: 0px;
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #FFA8AD;
    transition: ease 0.4s;
}
.main_menu .main_menuLink:hover:before{
    width: 100%;
    color: white;
    left: 0;
}
.main_menuLink.dropdown_link{
    padding-bottom: 13px;
}
.dropdown_item.top{
    border-radius: 10px 10px 0 0;
}
.dropdown_item.bottom{
    border-radius:  0 0 10px 10px;
}
.dropdown_link span{
    position: relative;
    left: -7px;
}
.main_menu .main_menuLink.dropdown_link::before{
    content: '';
    bottom: 8px;
    right: 0px;
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #FFA8AD;
    transition: ease 0.4s;
}
.main_menu .main_menuLink.dropdown_link:hover:before{
    width: 90%;
    color: white;
    left: 0;
}
.login_header {
    grid-column-start: 7;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    cursor: pointer;

    width: 150px;
    height: 60px;
    position: relative;
    border-radius: 20px;

    font-family: manrope;
    border: 3px solid #FFA8AD;
    color: #FFA8AD;
    font-size: 32px;
    font-weight: 600;

    overflow: hidden;
}
.login_header > span {
    z-index: -1;
    position: absolute;
    width: 33.333%;
    height: 100%;
    opacity: 0.5;

    background-color: transparent;
}
.login_header > :first-child{
    left: 0;
    top: 0;
}
.login_header > :last-child{
    right: 0;
    top: 0;
}
@keyframes FillTextHeader {
    from {color: #FFA8AD;}
    to {color: #FFFFFF;}
}
.login_header::before{
    z-index: -1;
    content: '';
    position: absolute;
    background: #FFA8AD;
    width: 10%;
    aspect-ratio: 1;
    border-radius: 50%;
    inset: 0;
    margin: auto;
    opacity: 0;
    transition: transform 1.5s 200ms, opacity 200ms;

}
.login_header:hover{
    animation: FillTextHeader 1s forwards;
}
.login_header:hover::before{
    color: white;
    transform: scale(20);
    opacity: 1;
    transition: transform 2s , opacity 0.5s;
}
.login_header:has(:first-child:hover)::before{
    margin-left: 0;
}
.login_header:has(:last-child:hover)::before{
    margin-right: 0;
}
.login_header:has(:last-child:hover)::before,
.login_header:has(:first-child:hover)::before{
    transition: transform 1s, opacity 0.25s;
}


.main_menu .dropdown {
    margin-top: -7px;
    position: relative;
    display: block;
}

.main_menu .dropdown .dropdown_content {
    margin-top: 7px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.main_menu .dropdown:hover .dropdown_content {
    border-radius: 10px;
    display: block;
    border:1px solid #FFA8AD;
}

.main_menu .dropdown_content .dropdown_item {
    overflow: hidden;
    width: 230px;
    border-bottom: 1px solid #FFA8AD;
    color: #FFA8AD;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.main_menu .dropdown_content .dropdown_item:hover {
    background-color: #FFA8AD;
    color: white;
}
#strelkaDropdown{
    display: none;
    position: relative;
    z-index: 999;
}
